body {
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  overflow-x: hidden;
}

#brand {
  height: 30px;
  width: 30px;
  display: inline;
  margin-top: -5px;
}

.navbar, .navbar-default {
  background-color: white;
  border-bottom: 3px solid black;
}

.navbar-link {
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

#site-name {
  font-size: 1.5em;
  color: black;
}

.nav, .pagination, .carousel, .panel-title a, #project-square {
  cursor: pointer;
}

.main-content {
  position: fixed;
  margin-top: 54px;
  width: 100%;
  right: 0;
  left: 0;
}

.col-md-4, .col-md-8 {
  padding: 0;
}

.profile, .injected > div {
  margin: 0;
  padding: 1em 1em 1em 2em;
}

@media (max-width: 991px) {
  .profile {
    display: none;
  }
}

/*For all profile related styling*/

.profile {
  text-align: center;
  height: 100vh;
  padding: 14px 14px 14px 14px;
  border-right: 2px solid black;
}

.avatar {
  display: inline-block;
  width: 50%;
  margin-bottom: 1em;
}

.avatar > a > img {
  width: 100%;
}

.profile-icons > ul {
  display: inline-block;
  padding: 0;
}

.profile-icons > ul > li {
  display: inline;
  padding-left: 7px;
  padding-right: 7px;
}

.profile-icons > ul > li > a {
  color: inherit;
  text-decoration: none;
}

.carousel {
  width: 100%;
  /* whatever width you want */
  display: inline-block;
  position: relative;
}

.carousel:after {
  padding-top: 56.25%;
  /* 16:9 ratio */
  display: block;
  content: '';
}

.carousel img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  /* fill parent */
  background-color: deepskyblue;
  /* let's see it! */
  color: white;
}

#project-square {
  border: 2px solid black;
  text-align: center;
  margin: 10px;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

#project-square:hover {
  background: #EDEDED;
}

/*End of profile related styling*/
