<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Alexander Goddijn Portfolio Website">
    <meta name="author" content="Alexander Goddijn">

    <title>Alex Goddijn</title>

    <base href="/">

    <!-- JS and angular -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="../scripts/ui-bootstrap.min.js"></script>
    <script type="text/javascript" src="../scripts/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="../js/app.js"></script>
    <script type="text/javascript" src="../js/config/config.js"></script>
    <script type="text/javascript" src="../js/controllers/contact-controller.js"></script>
    <script type="text/javascript" src="../js/directives/prettyPrintDir.js"></script>
    <script type="text/javascript" src="../js/directives/backImg.js"></script>
    <script type="text/javascript" src="../js/directives/blogHeight.js"></script>
    <script type="text/javascript" src="../prettify/google-code-prettify/prettify.js"></script>
    <script type="text/javascript" src="../preload/angular-preload-image.min.js"></script>
    <script type="text/javascript" src="../js/services/about-service.js"></script>
    <script type="text/javascript" src="../js/services/login-service.js"></script>
    <script type="text/javascript" src="../js/controllers/main-controller.js"></script>
    <script type="text/javascript" src="../js/routes.js"></script>
    <script type="text/javascript" src="../js/controllers/about-controller.js"></script>
    <script type="text/javascript" src="../js/controllers/login-controller.js"></script>
    <script type="text/javascript" src="../js/services/blog-service.js"></script>
    <script type="text/javascript" src="../js/controllers/blog-controller.js"></script>
    <script type="text/javascript" src="../js/services/job-service.js"></script>
    <script type="text/javascript" src="../js/controllers/job-controller.js"></script>
    <script type="text/javascript" src="../js/services/project-service.js"></script>
    <script type="text/javascript" src="../js/controllers/project-controller.js"></script>
    <script type="text/javascript" src="../js/controllers/resume-controller.js"></script>

    <!-- CSS and stylesheets -->
    <link rel="stylesheet" type="text/css" href="../prettify/google-code-prettify/desert.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../css/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">

  </head>

  <body class="container" ng-app="app" ng-controller="MainController as main">

    <!-- Navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">

      <div class="container">

        <!-- Header and toggle grouped for mobile view -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" ng-click="main.isCollapsed = !main.isCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/" id="site-name"> <img src="/content/images/logos/website-brand.png" id="brand"> Alex Goddijn</a>
        </div>

        <!-- Nav links -->
        <div class="navbar-collapse" uib-collapse="main.isCollapsed">
          <ul class="nav navbar-nav navbar-right">
            <li class="hidden">
              <a href="/"></a>
            </li>
            <li ng-repeat="navItem in main.navItems" class="navbar-link" ng-class="main.isActive(navItem)" ng-click="main.checkCollapsed()">
              <a href="{{navItem.url}}">{{navItem.name}}</a>
            </li>
            <!-- <li class="navbar-link" ng-class="main.isActive({name: 'login', url: '/login'})" ng-hide="main.isLoggedIn()" ng-click="main.checkCollapsed()">
              <a href="/login">login</a>
            </li>
            <li ng-show="main.isLoggedIn()" class="navbar-link" ng-click="main.checkCollapsed()">
              <a ng-click="main.logout()"><b>{{main.getUser().username}}</b> | Logout</a>
            </li> -->
          </ul>
        </div>

      </div>

    </nav>

    <!-- Main content -->
    <main class="main-content">

      <!-- Profile -->
      <section class="col-md-3 profile">

        <!-- Avatar -->
        <div class="avatar">
          <a href="/">
            <img src="/content/images/Profile2.png">
          </a>
        </div>

        <!-- Profile Icons -->
        <div class="profile-icons">
          <ul>
            <li ng-repeat="link in main.linkIcons">
              <a target="_blank" href="{{link.link}}">
                <i class="{{link.icon}}"></i>
              </a>
            </li>
          </ul>
        </div>

        <!-- Short description -->
        <div class="profile-description">
          <p>{{main.shortAbout}}</p>
        </div>

        <!-- Contact button -->
        <div class="contact" ng-controller="ContactController as contact">
          <button type="button" ng-click="contact.open()">Contact</button>
        </div>

      </section>

      <!-- Injected views -->
      <section class="col-md-9 injected" ng-view></section>

    </main>

  </body>
</html>