<div class="about">
  <div class="welcome">
    <h1> Alexander <span> <img style="height: 50px;" src="../content/images/logos/website-brand.png"> </span> Goddijn </h1>
    <h2> Amsterdam / Vancouver </h2>
  </div>
  <h3>Bio</h3>
  <div class="welcome-section">
    <div class="long-about" ng-bind-html="about.longAbout"></div>
    <div class="about-pics">
      <img ng-repeat="pic in about.pics" ng-src="{{pic.url}}" class="about-pic" ng-if="pic.index==about.selected">
      <img ng-repeat="pic in about.pics" ng-src="{{pic.url}}" class="about-pic" style="margin-top: 32%" ng-if="pic.index==about.selected2">
    </div>
  </div>
  <h3>Info</h3>
  <div class="welcome-section">
    <ul>
      <li ng-repeat="item in about.info"> {{item}} </li>
    </ul>
  </div>
</div>