<div class="about">
  <div class="welcome">
    <h2>Welcome to the personal website of</h2>
    <h1> Alexander <span> <img style="height: 50px;" src="../content/images/logos/website-brand.png"> </span> Goddijn </h1>
    <h2> Amsterdam, The Netherlands </h2>
  </div>
  <div class="welcome-section">
    <h1>Overview</h1>
    <p class="long-about">{{about.longAbout}}</p>
  </div>
  <div class="welcome-section">
    <h1>Info</h1>
    <ul>
      <li ng-repeat="item in about.info"> {{item}} </li>
    </ul>
  </div>
</div>