<div class="about">
  <div class="welcome">
    <h2>Welcome to the personal website of</h2>
    <h1> Alexander <span> <img style="height: 50px;" src="../content/images/logos/website-brand.png"> </span> Goddijn </h1>
    <h2> Amsterdam, The Netherlands </h2>
  </div>
  <div class="welcome-section">
    <h1>Overview</h1>
    <p class="long-about">{{about.longAbout}}</p>
  </div>
  <div class="welcome-section">
    <h1>Info</h1>
    <ul>
      <li>I speak three languages fluently (Dutch, French, English)</li>
      <li>I study physics, engineering, and computer science at the University of British Columbia in Vancouver</li>
      <li>Sports - skiing, mountain biking, sailing, climbing, water polo, running</li>
      <li>Hobbies - reading, film, massive ragers at 4317 West 13th Avenue, weed, a good philosophical conversation over a cold pint in a dingy pub nobody's ever heard of</li>
    </ul>
  </div>
</div>