<div>
  <div class="row tilerow">
    <div class="col-md-4" ng-repeat="job in jobs.jobList | orderBy:'name'" id="tile">
      <div ng-click="jobs.open(job)" class="tile-inner">
        <div class="cover">
          <div class="cover-content">
            <i class="fa fa-plus fa-3x"></i>
          </div>
        </div>
        <div class="logo icon">
          <img src="{{job.logo}}">
        </div>
        <div class="title">
          <h1>{{job.name}}</h1>
        </div>
      </div>
    </div>
  </div>
</div>