<div>
  <div class="row">
    <div class="col-md-4" ng-repeat="project in projects.projectList" id="tile">
      <img src="">
      <div ng-click="projects.open(project)" id="tile-inner">
        <div class="cover">
          <div class="cover-content">
            <i class="fa fa-plus fa-3x"></i>
            <a ng-if="project.github != null" class="tile-link" href="{{project.github}}" target="_blank">View on GitHub</a>
            <a ng-if="project.video != null" class="tile-link" href="{{project.video}}" target="_blank">View Video</a>
          </div>
        </div>
        <div class="logo icon">
          <img src="{{project.icon}}">
        </div>
        <div class="descriptionShort">
          <p>{{project.descriptionShort}}</p>
        </div>
      </div>
    </div>
  </div>
</div>