<div class="modal-header">
  <h3 class="modal-title">
    {{modalCtrl.project.title}}
    <div class="modal-icon"><img src="{{modalCtrl.project.icon}}"></div>
    <button type="button" class="close" id="modal-close" ng-click="modalCtrl.close()" aria-label="Close"><i class="fa fa-times fa-4"></i></button>
  </h3>
</div>
<div class="modal-body">
  <div class="description">
    <p>{{modalCtrl.project.descriptionLong}}</p>
  </div>
  <div class="carousel">
    <uib-carousel interval="modalCtrl.interval" no-wrap="vm.noWrapSlide">
      <uib-slide ng-repeat="content in modalCtrl.project.additional">
        <img src="{{content.content}}" ng-show="{{content.type == 'image'}}">
        <p ng-hide="{{content.type == 'image'}}">{{content.content}}</p>
      </uib-slide>
    </uib-carousel>
  </div>
</div>