<div window-width class="modal-header">
  <h3 class="modal-title">
    {{modalCtrl.data.title}}
    <div class="modal-icon"><img src="{{modalCtrl.data.icon}}"></div>
    <button type="button" class="close" id="modal-close" ng-click="modalCtrl.close()" aria-label="Close"><i class="fa fa-times fa-4"></i></button>
  </h3>
</div>
<div class="modal-body">
  <div class="project-section" ng-repeat="section in modalCtrl.data.sections">
    <h2>{{section.header}}</h2>
    <p class="content-description" ng-class="(width > modalCtrl.resize_width) ? 'double-column' : single-column" ng-bind-html="section.descriptionAbove" ng-show="section.descriptionAbove"></p>
    <!-- Carousel -->
    <uib-carousel class="carousel" interval="modalCtrl.interval" no-wrap="modalCtrl.noWrapSlide" ng-hide="section.additional.length == 0">
      <uib-slide class="carousel-slide" ng-repeat="content in section.additional" active="content.active">
        <img ng-if="content.type == 'image'" class="carousel-image" src="{{content.content}}">
        <pre ng-if="content.type == 'code'" class="prettyprint" pretty-print>
          {{content.content}}
        </pre>
        <iframe ng-if="content.type == 'video'" ng-src="{{content.content}}" width="544" height="306" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </uib-slide>
    </uib-carousel>
    <div class="caption" ng-repeat="content in section.additional" ng-show="content.active && content.caption != null">
      <p>{{content.caption}}</p>
    </div>
    <!-- End Carousel -->
    <p class="content-description" ng-class="(width > modalCtrl.resize_width) ? 'double-column' : 'single-column'" ng-bind-html="section.descriptionBelow" ng-show="section.descriptionBelow"></p>
  </div>
</div>